<%= form_for(station) do |f| %>
  <% if station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(station.errors.count, "error") %> prohibited this station from being saved:</h2>

      <ul>
      <% station.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name_of_railway_line %>
    <%= f.text_field :name_of_railway_line %>
  </div>

  <div class="field">
    <%= f.label :statation_name %>
    <%= f.text_field :statation_name %>
  </div>

  <div class="field">
    <%= f.label :how_many_minutes_walks %>
    <%= f.number_field :how_many_minutes_walks %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
